 :root {
  --primary-text: #ffaa3c;
}

html, body, .App {
  min-height: 100vh;
  width: 100vw;
}

.App {
  background: url("./Components/Images/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: inline-block;
  width: 100%;
  /*Creative Commons: https://www.deviantart.com/areckt/art/Safe-Haven-896065891 */
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.current-player {
  color: white;
}

#navbar {
  list-style-type: none;
  position:absolute;
  padding: 0px;
  margin: 0px;
  height: 80px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ffffff;
  background-color: #0000004f;
}

.nav-button {
  float: right;
}

.nav-options-button {
  padding: 17px 25px 0px 0px;
  margin: 0px 0px 10px 0px;
}

.nav-logout {
  float: left;
}

.nav-button a {
  display: block;
  color: var(--primary-text);
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-button a:hover {
  color: wheat;
}

.rules-paragraph {
  text-align:left;
  padding-left: 300px;
  padding-right: 300px;
}

#logo {
  float: left;
}

a {
  color: #060541;
}

h1 {
  color: #ffb400;
  margin-top: 130px;
  margin-bottom: 30px;

}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  margin-top:30px;
}

.grid {
  display: block;
  height: 60%;
  width: 50%;
}

.btn-default-style {
  height: 70px;
  width: 250px;
  background-color: white;
  border-radius: 40px;
  border: 1px solid var(--primary-text);
  font-size: 1.2em;
}

.btn-default-style-options {
  height: 40px;
  width: 120px;
  background-color: white;
  border-radius: 40px;
  border: 1px solid var(--primary-text);
  font-size: 1.2em;;
}

.btn-default-style-onOff {
  height: 40px;
  width: 170px;
  background-color: #FFFFE0;
  border-radius: 40px;
  border: 1px solid var(--primary-text);
  font-size: 1.1em;
}

.online-btn-default {
  height: 40px;
  width: 150px;
  margin-top: auto;
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--primary-text);
  font-size: 1.2em;
  margin-top: 13%;
}

.options-button, .lobby-button {
  width: 250px;
}

button:hover {
  background-color: #00000052;
  color: white;
}

.Game {
  text-align: center;
  padding-top: 80px;
  background-image: url("./Components/Images/gameBackground.png");
  background-size: cover;
}

.GameBoard {
  margin-top: 30px;
}

.Link a {
  background-color: rgba(255, 255, 255, 0.908);
  border-radius: 10px;
  color: darkblue;
}

.rules {
  background-color: #ffffffd2;
  width: 75%;
  margin: 20px auto;
}

#logo {
  float: left;
}

svg g polygon {
  /*stroke: #ffffff;
  stroke-width: 0.2;
  */
  transition: fill-opacity .3s;
}

svg g {
  fill-opacity: 0.6;
  stroke-width: 0.2;
}

.error-msg {
  color: red;
}

.join-match {
  height: 50px;
  width: 250px;
  font-size: 1.2em;
}

.join-match-btn {
  height: 53px;
  width: 150px;
  margin: 10px;  
  background-color: white;
  border-radius: 40px;
  border: 1px solid var(--primary-text);
  font-size: 1.2em;
}

svg g:hover {
  fill-opacity: 1;
  position: relative;
  display: inline-block;
}

svg g text {
  font-size: 0.3em;
  fill: #000000;
  fill-opacity: 0.9;
  transition: fill-opacity .2s;
}
/* 
svg g:hover > .resourceText {
  opacity: 1;
  transition: opacity 0.5s;
  stroke: blue;
  fill: white;
}

.resourceText {
  opacity: 0;
  width: 10%;
  height: 5%;
} */

.gen-text {
  color: white;
  font-size: 1.3em;
}

.port-info {
  font-size: 0.15em;
  font-weight: 700;
  fill: #FFFF00;
  fill-opacity: 0.9;
  transition: fill-opacity .2s;
}

.optionsForm {
  margin: 0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.optionsForm h1 {
  margin: 0;
  padding-bottom: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.3);
}

.game-over-modal {
  border: 2px solid #ffaa3c;
  border-radius: 10px;
  background-color: forestgreen;
}

circle.none-none {
  fill-opacity: 0.4;
}

circle:hover {
  fill-opacity: 1;
}

.action-btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  /*z-index: 1;*/
}

.board-text {
  color: #ffb400;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.board-action-text {
  color: #ffb400;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.board-rules-text {
  font-weight: 500;
  font-size: 8px;
  text-align: center;
}

.board-rules-text-left {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.board-btn {
  width: 150px;
  height: 50px;
  margin: 10px;
  font-size: 0.8em;
  border-color: gold;
  border-radius: 10px;
}

.board-header {
  display: flex;
  font-size: 1.5em;
}

.board-header-center {
  margin-left: auto;
  margin-right: auto;
}

line:hover {
  opacity: 1;
} 

line {
  opacity: 0;
  stroke-width: 2; 
  stroke-linecap:round;
}

line.active {
  opacity: 1;
}

circle.active {
  fill-opacity: 1;
  stroke-width: 0.4;
}

.scoreboard td {
  padding-right: 15px;
}

.longest-road {
  margin-top: 50px;
  color: white;
}

.font-size-1 {
  font-size: 16px;
}

.settlement:not(:hover) .tooltip polygon{
  display:none;
}

.settlement:not(:hover) .tooltip text{
  display:none;
}

.tooltip polygon {
  fill-opacity: 1;
  fill:gold;
  stroke: white;
  stroke-width: 0.8;
  stroke-linejoin: round;
}

.tooltip text {
  font-size: 0.11em;
  font-weight: bold;
}

.turn-actions {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;

}

table {
  border: 2px solid #ffaa3c;
  border-radius: 10px;
  background-color: forestgreen;
}

.end-game-scoreboard {
  border: none;

}

button.disabled:hover {
  background-color: initial !important;
  color: initial !important;
  cursor: default !important;
}